a {
color: royalblue ;
font-family : cursive ;
font-weight: bold ;
}
h1 {
  text-align: center;
color : white ; 
font-size: 35px;
font-weight: 900;
background: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px, 
    #4b026f 20px
  );
font-family: Garamond, serif; font-size: 40px ;
}
*:focus { 
outline : none ;
}
.expo {
 border : 5px solid ;
border-image: conic-gradient(from var(--angle) , red, yellow, lime, aqua, blue, magenta, red) 5;

	animation: 10s rotate linear infinite;
padding : 5px ;
 }
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
body {
  --text-color: #222;
  --bkg-color: #fff;
  }
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

body {
  color: var(--text-color);
}
